body {
    margin: 1rem;
    background-color: rosybrown;
}

aside {
    width: auto;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    /* 1 */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}